# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz
# next
/.next/
/out/
# env (never commit secrets)
.env
.env*.local
# prisma
prisma/dev.db
prisma/*.db
# misc
.DS_Store
*.pem
# debug
npm-debug.log*
next-env.d.ts
